/**
 * Global, project-specific styles.
 */

.field--label-inline {
  display: flex;
  margin-block-end: 0.5rem;
}

.field--label-inline > .field_label {
  font-weight: bold;
  margin-inline-end: 0.5rem;
}

.field--label-inline > .field_label::after {
  content: ':'
}

.field--label-inline + .field--name-field-summary {
  margin-block-start: 1em;
}
