ol.workflow-steps {
  display: flex;
  list-style: none;
  align-content: space-between;
  justify-content: space-between;
  max-width: 80ch;
  margin: 0.5rem auto;
  padding: 0;
  padding-bottom: 1rem;
  border-bottom: solid 1px #232323;

  & > li {
    padding: .5rem;
  }

  & > li.done {
    background-color: #666666;
    color: #fff;
    text-decoration: line-through;
  }

  & > li.active {
    background-color: #00ff00;
  }

  & > li.to-do {
    background-color: #ff004a;
    color: #fff;
  }
}
